body, html {
    font-family: Arial;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.main-container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff500;
    width: 100%;
    height: 120px;
}
.header img {
    display: block;
    height: 112px;
}
.header__logocar {
    margin-left: 20px;
}
.header__logo {
    justify-self: center;
}
.header__mainmenu {
    justify-self: center;
    padding-top: 19px;
    width: 400px;
}
.header__links {
    list-style-type: none;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    color: #000;
}
.header__links a:hover {
    color: red;
}
.main {
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 400px 2fr;
}
.title-48 {
    margin-top: 15px;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    color: #fff500;
}
.title-48__sidebar {
    text-align: center;
}
.title-48__price {
    text-align: left;
    color: #5eff00;
    margin-top: 6px;
}
.title-40 {
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    color: #fff500;
}
.title-40__sidebar {
    text-align: center;
}
.title-96 {
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    text-align: center;
    color: red;
    margin-top: 40px;
}
.title-56 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin-top: 26px;
}
.addpage__block{
    margin: 0 auto;
}
.sidebar {
    padding: 20px;
    border-right: 3px solid #e4e4e4;
    height: 1900px;
}
.sidebar__choice {
    margin: 0 auto;
    margin-top: 50px;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    -moz-column-gap: 25px;
    column-gap: 25px;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
}
.sidebar__btns {
    display: block;
    width: 140px;
    height: 60px;
    padding: 0;
    background: #d9d9d9;
    color: #000;
    border-radius: 3px;
}
.sidebar__btns:first-child {
    justify-self: center;
    grid-column: 1/3;
}
.sidebar__btns:hover {
    background: #fff500;
}
.sidebar__dropdowns {
    display: block;
    margin: 0 auto;
}
.sidebar__dropdown__title {
    margin-top: 40px;
}
.sidebar__years__checkbox {
    color: #d9d9d9;
}
.sidebar__inputs {
    margin-top: 15px;
    display: flex;
}
.sidebar__input {
    display: block;
    width: 150px;
    height: 45px;
    background-color: #d9d9d9;
    margin-left: 19px;
}
.sidebar__btn {
    margin-top: 40px;
    width: 350px;
    height: 61px;
    background: red;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 23px;
    text-align: center;
    color: #fff500;
}
.sidebar__btn:hover {
    background: #fff500;
    color: #000;
}
.sidebar__dropdown {
    position: relative;
    margin-bottom: 1rem;
    margin-top: 20px;
}
.sidebar__dropdown::after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
}
.sidebar__dropdown select {
    display: block;
    width: 100%;
    padding: .75rem 2.5rem .75rem 1rem;
    background: 0 0;
    background-color: #fff500;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    color: #000;
}
.sidebar__dropdown select:focus {
    outline: 0;
    border-color: #0891e6;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 110px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 22px;
    color: #d9d9d9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input~.checkmark {
    background-color: #ccc;
}
.container input:checked~.checkmark {
    background-color: #2196f3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked~.checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.product {
    margin-top: 40px;
    position: relative;
    width: 1140px;
    height: 320px;
    background: #262626;
    display: grid;
    grid-template-columns: 500px 1fr;
}
.product hr {
    width: 1387px;
    height: 0;
    border: 4px solid #e4e4e4;
}
.product__content {
    padding: 0 5px 0 10px;
}
.product__title:hover {
    color: #25bce2;
}
.product__descr {
    font-weight: 500;
    font-size: 17px;
    color: #dfdfdf;
    margin-top: 19px;
}
.product__img {
    max-width: 500px;
    height: 320px;
}
.product__icon {
    width: 41px;
    height: 41px;
}
.product__icons {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    -moz-column-gap: 200px;
    column-gap: 200px;
    row-gap: 10px;
}
.product__subcontainer {
    display: grid;
    grid-template-columns: 61px 1fr;
    -moz-column-gap: 6px;
    column-gap: 6px;
}
.product__icon-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    color: #fff500;
    margin-top: 9px;
}


.form-input {
    width: 300px;
    font-size: 16px;
    color: #fff;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    color: #fff
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    margin-top: 40px;
    width: 350px;
    height: 61px;
    background: red;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 23px;
    text-align: center;
    color: #fff500;
}
.form-button:hover {
    background: #fff500;
    color: #000;
    cursor: pointer;
}
.footer {
    background-color: #fff500;
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: 2fr 220px;
}
.footer__socialblocks {
    display: block;
    justify-self: end;
    margin-right: 40px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__socialblock {
    padding-top: 10px;
    height: 48px;
    width: 48px;
}
.footer__socialblock__link img {
    display: block;
    margin: 0 auto;
}
.footer__descr {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    color: #000;
}
.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
	color: #fff;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #E0E0E0;
	border-radius: 30px;
	color: #fff;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #E0E0E0;
	color: #fff;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
	color: #fff;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
	color: #fff;
}
.goods__title {
    text-align: center;
}
.goods__img {
    max-width: 800px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.goods__icon {
    width: 41px;
    height: 41px;
}
.goods__icons {
    width: 450px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    -moz-column-gap: 200px;
    column-gap: 200px;
    row-gap: 10px;
    margin: 0 auto;
    margin-top: 40px;
}
.goods__subcontainer {
    display: grid;
    grid-template-columns: 61px 1fr;
    -moz-column-gap: 6px;
    column-gap: 6px;
}
.goods__icon-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    color: #fff500;
    margin-top: 9px;
}
.goods__price {
    text-align: center;
}
.goods__descr {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
}
.goods__shop {
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    color: #fff;
    text-align: center;
    color: #fff500;
}
.goods__shop__img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 800px;
    max-height: 500px;
}